@model IEnumerable<Produto>

@{
    ViewData["Title"] = "Wait and Retry";
}


@{
    if (Model.Any())
    {
        <br>
        <br>
        <div class="table-responsive-sm">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Descricao</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var produto in Model)
                        {
                            <tr>
                                <td>@produto.Codigo</td>
                                <td>@produto.Descricao</td>
                                <td>@produto.Valor</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Nenhum produto</p>
    }
}