@{
    ViewData["Title"] = "Polly Example";
}

<div class="container">
    <div style="padding-top: 50px; text-align: center">
        <div class="text-center">
            <h3 class="display-4">Polly Example</h3>
            <p>
                Learn about
                <a href="https://github.com/App-vNext/Polly">Polly .NET library</a> and
                <a href="https://docs.microsoft.com/pt-br/dotnet/architecture/microservices/implement-resilient-applications/implement-http-call-retries-exponential-backoff-polly">
                    Microsoft.Extensions.Http.Polly
                </a>
            </p>
        </div>

        <div class="container">
            <div class="row" style="padding-top: 25px">
                <div class="col-md-6" style="display: flex; justify-content: center; align-items: center;">
                    <img src="images/polly.png" width="128" height="128" />
                </div>
                <div class="col-md-6" style="display: flex; justify-content: center; align-items: center;">
                    <img src="images/net_foundation.png" width=128 height=128 style="justify-content: center;">
                </div>
            </div>
        </div>

    </div>
</div>
